body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

:root {
    --color-primario: hotpink;
}

h3 {
    color: #353535;
    background-color: var(--color-primario);
    text-align: center;
    padding: 10px;
    margin: 6px 0;
    min-width: 620px;
    max-width: 100%;
    border-radius: 10px;
}

section {
    min-width: 600px;
    max-width: 100%;
    border-radius: 10px;
    background-color: rgba(79, 175, 239, 0.979);
    padding: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 0 1px #00000030
}

button {
    padding: 9px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: scale .3s ease;
}

button:hover {
    scale: 1.1
}

table {
    width: 100%;
    text-align: center;
}



